body {
    background-color: #226c83;
}

/* Footer Icons*/ 

.octocat { 
    color: black;
    font-size: 3em;
}

.cloud {
    font-size: 2em;
}

.linkedin {
    color: black;
    font-size: 3em;
}

.python {
    font-size: 2em;
}
