body {
    background-color: #ebda98;
}

.btn_small {
    height: 24px;
    width: auto;
    margin: 5px 5px;
    padding: 0 0.5em;
    line-height: 24px;
    
}

.recipe_header {
    margin-top: 10px;
}

.postcard-image {
    width: 450px;
    height: 256px;
}
