{% extends 'base.html' %}{% block content %}
<h3 class="center-align">Categories</h3>
<div class="container"style="width: 500px;">
<!--Make categories visible-->    
    <ul class="collapsible" data-collapsible="accordion">
        {% for category in categories %}
        <li>
            <div class="collapsible-header">
                
                <i class="material-icons">local_dining</i>
                <div class="recipe_header col s6">
                <strong > {{category.category_name|upper}} </strong> 
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col s3 offset-s5">
        <a href="{{ url_for('get_categories')}}" class="waves-effect waves-light btn red">
        <i class="material-icons right">featured_play_list</i>Admin Only</a>
    </div>
</div>

{% endblock %}