{% extends 'base.html'%}{% block content %}
<h3 class="center-align">Edit Category</h3>
<div class="row">
    <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST" class="col s10 m8 offset-m2">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_dining</i>
                <input id="category_name" name="category_name" type="text" class="validate" value="{{category.category_name}}">
                <label for="category_name">Edit Category</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light green col s4" type="submit" name="addcategory">Save Changes
                <i class="material-icons right">local_dining</i>
             </button>
            <a href="{{ url_for('get_categories') }}" class="waves-effect waves-light btn blue col s4" style="margin-left: 10px;">
                <i class="material-icons right">cancel</i>Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %} 