{% extends 'base.html'%}{% block content %}
<h3 class="center-align">Edit Allergens</h3>
<div class="row">
    <form action="{{ url_for('update_allergens', allergens_id=allergens._id) }}" method="POST" class="col s4 offset-s4">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">pan_tool</i>
                <input id="allergens_types" name="allergens_types" type="text" class="validate" value="{{allergens.allergens_types}}">
                <label for="allergens_types">Edit Allergens</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light green col s4" type="submit" name="addallergens">Save Changes
                <i class="material-icons right">pan_tool</i>
             </button>
            <a href="{{ url_for('get_allergens') }}" class="waves-effect waves-light btn blue col s4" style="margin-left: 10px;">
                <i class="material-icons right">cancel</i>Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}