{% extends 'base.html' %}{% block content %}
<h3>{{ page_title }}</h3>
<div class="">
    <ul class="collapsible col l6" data-collapsible="accordion">
        {% for cousine in myHunCuisineDB %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                <i class="material-icons">local_dining</i>
                </div>
                <div class="col s6">
                <strong> {{cousine.recipe_title|upper}} </strong> 
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{cousine.recipe_ingredients|upper}} {{cousine.recipe_preparation}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}