{% extends 'base.html' %}{% block content %}

<!--Recipes with Pagination-->
 

  <!--Summary-->
    {% if recipes.count() == 0 %}
    <div class="center">
        <h6>No recipes to show.</h6>
    </div>
    
    {% else %}
    <div class="center">
        <h6> Tasting {{first_result_num}} - {{last_result_num}} of {{recipes.count()}} recipes</h6>
    </div>
    
    <!--Pagination-->
<ul class="pagination center">
        <!--Left Arrow-->
        {% if current_page | int > 1 %}
        <li><a href="{{ url_for('get_index', current_page=current_page-1) }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">chevron_left</i></li>
        {% endif %}

        <!--Page Numbers-->
            {% for page_number in pages %}
            {% if page_number == current_page %}
            <li class="active"><a>{{ page_number }}</a></li>
            {% else %}
            <li><a href="{{ url_for('get_index', current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}

        <!--Right Arrow-->
        {% if current_page | int < pages | count | int %}
        <li><a href="{{ url_for('get_index', current_page=current_page+1) }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">chevron_right</i></i></li>
        {% endif %}
    </ul>

    <!--Recipes-->
        {% for rec in recipes %}
<div class="container">
    <div class="row">         
      <div class="card small col s12 m8 offset-m2 l8 offset-l2" style="height:450px;">
            <div class="card-image">
              <img src={{rec.img_url}} alt="image">
              <span class="card-title"><strong> {{rec.recipe_title|upper}}</strong></span>
            </div>
            <div class="card-content" style="overflow-y: scroll; height:300px;">
              <span><strong>Category: {{rec.category_name|upper}}</strong></span>  <br>  
              <span><strong>Ingredients:</strong> {{rec.recipe_ingredients|upper}} </span> <br>     
              <span><strong>Preparation:</strong> {{rec.recipe_preparation|lower}} </span> <br>
              <p> {% if rec.is_favourite == "on" %} My Favourite Recipe {% endif %} </p>
            </div>
          </div>
    </div> 
</div>
        
 
    {% endfor %}
    
    {% endif %}  



{% endblock %}
