{% extends 'base.html' %}{% block content %}

    <h3 class="center-align">{{ page_title }}</h3>
    
<!--Filters-->
<div class="row">
    <div class="row">
    <form action="{{ url_for('get_index') }}" class="col s6 offset-s3">
                <div class="input-field category-filter col s12 m4">
                    <select id="category_filter" name="category_name">
                        <option value="" selected>No Filter</option>
                        {% for categ in get_categories %}
                           {% if categ.category_name == recipes.category_name %}
                             <option value="{{categ.category_name}}" selected >{{categ.category_name|upper}}</option>
                           {% else %} 
                             <option value="{{categ.category_name}}">{{categ.category_name|upper}}</option>
                           {% endif %} 
                       {% endfor %}
                        </select>
                    <label for="category_filter">Filter By Category</label>
                </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                     <i class="material-icons right">free_breakfast</i>
                                   </button>
                </div>
            </form>    
        </div>
        </div>

<!--Recipes with Pagination-->
 
<section>
  <!--Summary-->
    {% if recipes.count() == 0 %}
    <div class="center">
        <h6>No recipes to show.</h6>
    </div>
    
    {% else %}
    <div class="center">
        <h6> Tasting {{first_result_num}} - {{last_result_num}} of {{recipes.count()}} recipes</h6>
    </div>
    
    <!--Pagination-->
<ul class="pagination center">
        <!--Left Arrow-->
        {% if current_page | int > 1 %}
        <li><a href="{{ url_for('get_index', current_page=current_page-1) }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">chevron_left</i></li>
        {% endif %}

        <!--Page Numbers-->
            {% for page_number in pages %}
            {% if page_number == current_page %}
            <li class="active"><a>{{ page_number }}</a></li>
            {% else %}
            <li><a href="{{ url_for('get_index', current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}

        <!--Right Arrow-->
        {% if current_page | int < pages | count | int %}
        <li><a href="{{ url_for('get_index', current_page=current_page+1) }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">chevron_right</i></i></li>
        {% endif %}
    </ul>

    <!--Recipes-->
 <div class="container center-align">
<section class="row">
        {% for rec in recipes %}
        <div class="col s10">
            <strong> Of {{rec.category_name|upper}} Category : </strong> <br>
            <strong> {{rec.recipe_title|upper}} 
            <p class="favourite"> {% if rec.is_favourite == "on" %} My Favourite Recipe {% endif %} </p>
            </strong>
            <img class="center-align postcard-image" src={{rec.img_url}} alt="image">
            <div  class="ingredients row col s12">
                <span>Ingredients: <br>
                    {{rec.recipe_ingredients|upper}}
                </span>
            </div>    
                <br>
            <div  class="preparation row col s12">
                <span>Preparation: <br>
                    {{rec.recipe_preparation|lower}} 
                </span>
               
            </div>
        </div>
        <div  class="hr row col s12">
        <hr>
        </div>
        {% endfor %}
    </section>
</div> 

    
    {% endif %}  
</section>


{% endblock %}
