{% extends 'base.html' %}{% block content %}

    <h3 class="center-align">{{ page_title }}</h3>

<!--Recipes with Pagination-->
 
<section>
  <!--Summary-->
    {% if recipes.count() == 0 %}
    <div class="center">
        <h6>No recipes to show.</h6>
    </div>
    
    {% else %}
    <div class="center">
        <h6> Tasting {{first_result_num}} - {{last_result_num}} of {{recipes.count()}} recipes</h6>
    </div>
    
    <!--Pagination-->
<ul class="pagination center">
        <!--Left Arrow-->
        {% if current_page | int > 1 %}
        <li><a href="{{ url_for('get_index', current_page=current_page-1) }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">chevron_left</i></li>
        {% endif %}

        <!--Page Numbers-->
            {% for page_number in pages %}
            {% if page_number == current_page %}
            <li class="active"><a>{{ page_number }}</a></li>
            {% else %}
            <li><a href="{{ url_for('get_index', current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}

        <!--Right Arrow-->
        {% if current_page | int < pages | count | int %}
        <li><a href="{{ url_for('get_index', current_page=current_page+1) }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">chevron_right</i></i></li>
        {% endif %}
    </ul>

    <!--Recipes-->
 <div class="container center-align">
<section class="row">
        {% for recipes in recipes %}
        <div class="col s10">
            <strong> Of {{recipes.category_name|upper}} Category : </strong> <br>
            <strong> {{recipes.recipe_title|upper}} 
            <p class="favourite"> {% if recipes.is_favourite == "on" %} My Favourite Recipe {% endif %} </p>
            </strong>
            <img class="center-align postcard-image" src={{recipes.img_url}} alt="image">
            <div  class="ingredients row col s12">
                <span>Ingredients: <br>
                    {{recipes.recipe_ingredients|upper}}
                </span>
            </div>    
                <br>
            <div  class="preparation row col s12">
                <span>Preparation: <br>
                    {{recipes.recipe_preparation|lower}} 
                </span>
               
            </div>
        </div>
        <div  class="hr row col s12">
        <hr>
        </div>
        {% endfor %}
    </section>
</div> 

<!-- <div class="container">
    <ul class="ul-collapsible collapsible" data-collapsible="accordion">
        {% for cousine in myHunCuisineDB %}
        <li class="li-collapsible">
            <div id="recipe-header" class="collapsible-header">
                <div class="recipe_header col s6">
                    <strong> {{cousine.recipe_title|upper}} </strong> <br> <img class="postcard-image" src={{cousine.img_url}} alt="image">
                    <div class="row s12">
                        <div class="col s3 offset-s1">
                            <a href="{{ url_for('delete_recipe', recipe_id=cousine._id)}}" onclick="return checkDelete()" class="waves-effect waves-light btn btn_small red">delete</a>
                        </div>
                        <div class="col s3 offset-s4">
                            <a href="{{ url_for('edit_recipe', recipe_id=cousine._id)}}" class="waves-effect waves-light btn btn_small blue">edit</a>
                        </div>
                    </div>
                </div>
            </div>    
        
            <div id="recipe-body" class="collapsible-body">
            
                <span>
                                        {{cousine.recipe_ingredients|upper}}
                                    </span>
                <br>
                <span>
                                        {{cousine.recipe_preparation}}
                                    </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div> -->
    
    
    {% endif %}  
</section>


{% endblock %}
